# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Knife hit.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\UnityProjects\knifehit\Knife hit\.idea\.idea.Knife hit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
